<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Vue.js App</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div id="app">
		<!-- このフォームの入力値を新しいモンスターに使う -->
		名前<input v-model="name">
		<button v-on:click="doAdd">モンスターを追加</button>
		<ul>
			<li v-for="item in list" v-bind:key="item.id" v-bind:class="{tuyoi:item.hp > 300}">
				ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
				<span v-if="item.hp > 300">つよい！</span>
			</li>
		</ul>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
	<script src="js/main.js"></script>
</body>
</html>